@font-face {
  font-family: "iconfont"; /* Project id 4911092 */
  src: url('iconfont.woff2?t=1749280816566') format('woff2'),
       url('iconfont.woff?t=1749280816566') format('woff'),
       url('iconfont.ttf?t=1749280816566') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message-security:before {
  content: "\e665";
}

.icon-icon_ranking:before {
  content: "\e61a";
}

.icon-data-sheet:before {
  content: "\eaf0";
}

.icon-user_zhongduouser_every-user:before {
  content: "\e68f";
}

.icon-user_userhuchuan_user-to-user-transmission:before {
  content: "\e690";
}

.icon-shield:before {
  content: "\e875";
}

.icon-ungroup:before {
  content: "\e67b";
}

.icon-group:before {
  content: "\e600";
}

.icon-add-user:before {
  content: "\eb2d";
}

.icon-xitongshezhi-tongyongshezhi:before {
  content: "\e742";
}

.icon-wrong-user:before {
  content: "\ee5f";
}

.icon-user_cuowuuser_wrong-user:before {
  content: "\e68e";
}

.icon-xiaoxi2:before {
  content: "\e664";
}

.icon-shezhi:before {
  content: "\e654";
}

.icon-xiaoxijilu:before {
  content: "\e653";
}

.icon-xiaoxijilu-01:before {
  content: "\e6bc";
}

.icon-communication_xinxisousuo_message-search:before {
  content: "\e6a3";
}

.icon-guanji:before {
  content: "\e603";
}

.icon-heimingdan:before {
  content: "\e604";
}

.icon-lock-line:before {
  content: "\e637";
}

.icon-xiaoxi1:before {
  content: "\e71d";
}

.icon-zhuzhuangtu:before {
  content: "\e6bf";
}

.icon-chart:before {
  content: "\e605";
}

.icon-tubiao:before {
  content: "\e675";
}

.icon-renqun:before {
  content: "\e622";
}

.icon-jiaren:before {
  content: "\e614";
}

.icon-quanping_o:before {
  content: "\eb99";
}

.icon-ren-copy:before {
  content: "\e63a";
}

.icon-T:before {
  content: "\e6a2";
}

.icon-wrench:before {
  content: "\e77e";
}

.icon-bumen:before {
  content: "\e611";
}

.icon-xiaoxi:before {
  content: "\e6ed";
}

.icon-spanner:before {
  content: "\e6a5";
}

.icon-quanping_1:before {
  content: "\e773";
}

.icon-home:before {
  content: "\e643";
}

.icon-a-jingbao1:before {
  content: "\ec11";
}

.icon-duoren:before {
  content: "\e876";
}

.icon-yonghu1:before {
  content: "\e607";
}

.icon-quanping:before {
  content: "\eb11";
}

.icon-yonghu2:before {
  content: "\e64e";
}

.icon-a-16_ziti_zitidaxiao:before {
  content: "\e61f";
}

.icon-buju-01:before {
  content: "\ec96";
}

.icon-wen-A:before {
  content: "\e602";
}

.icon-yonghu:before {
  content: "\e685";
}

